#p-index #p-flex-container {
	display: flex;
}

#p-index #map-container {
	height: 100vh;
	flex-grow: 1;
}

#p-index #content-container {
	height: 100vh;
	width: 300px;
	border: 1px solid magenta;
	padding: 0.5rem;
	color: var(--colour-text-black);
	overflow: auto;
}

#p-index #content-container ul {
	padding-left: 1.5rem;
	list-style-type: disc;
}

#p-index #content-container li {
	margin: 0.5rem 0;
	line-height: 1.6;
}
